html{
  background-color: orange;
  overflow-y: hidden;
  overflow-x: hidden;
}

body{
  background-color: pink;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header-container{
  height: 150px;
  width: 100%;
}

.header{
  background-color: yellow;
  width: 80%;
  height: inherit;
  margin: auto;
  position: relative;
}

.header-fullWidth{
	width: 100%;
  height: 150px;
  position: sticky;
  position: -webkit-sticky;
  position: -o-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  top: 0;
}

.page-container{
  background-color: blue;
  position: absolute;
  width: 100%;      
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

